* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.left {
    display: flex;

    width: 80px;
    align-items: center;
    padding-left: 40px;
    padding-right: -40px;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 40px;
}

.right {
    display: flex;

    width: 200px;
    align-items: center;
    justify-content: space-between;
}

.lofo {
    margin-top: 60px;
    width: 100px;
    cursor: pointer;
    margin-bottom: 55px;
    transition: 0.1s;
    margin-left: 80px;
}

.lines {
    width: 50px;
    cursor: pointer;
    transition: 0.1s;
}

.cart {
    height: 50px;
    /* margin-left: 115px;
    margin-right: 20px; */
    cursor: pointer;
    transition: 0.1s;
}

.lines:hover {
    opacity: 0.7;
}

.lofo:hover {
    opacity: 0.7;
}

.cart:hover {
    opacity: 0.7;
}

.account {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.item {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 550px;
    background-attachment: inherit;
    object-fit: contain;
}

.firstbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    width: 100%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    max-width: 470px;
    justify-content: center;
    background-attachment: inherit;
    object-position: center;
    padding-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    vertical-align: top;
    padding-top: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 550;
    color: rgb(130, 130, 130);
    object-position: center;
}

.button {
    vertical-align: top;
    display: inline;
    margin-top: 9px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.button:hover {
    opacity: 0.7;
}

.bottom-bar {
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

.right-bottom {
    display: flex;

    width: 200px;
    align-items: center;
    justify-content: space-between;
    margin-left: 60px;
}

.mid-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-left: 40px;
    

}

.left-bottom {
    margin-left: 150px;
    display: flex;

    width: 80px;
    align-items: center;
}

.tiktok {
    width: 45px;
    margin-right: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}

.insta {
    margin-left: 80px;
    cursor: pointer;
}

.tiktok:hover {
    opacity: 0.7;
}

.insta:hover {
    opacity: 0.7;
}

.app {
    display: flex;
    min-height: 100vh;
    position: fixed;
}

.menu-toggle {
    display: none;
    min-width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #000000;
    cursor: pointer;
}

.hamburger {
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #fff;
    transition-duration: 0.25s;
}

.hamburger > span::before {
    content: "";
    top: -8px;
}
.hamburger > span::after {
    content: "";
    top: 8px;
}
.menu-toggle.is-active .hamburger > span {
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
    top: 0;
    transform: rotate(90deg);
}

.sidebar {
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #ffffff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
}

.sidebar h3 {
    color: #000000;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 0.5em;
}

.sidebar .menu {
    margin: 0 -1rem;
}

.sidebar .menu .menu-item {
    display: block;
    padding: 1em;
    color: #000000;
    text-decoration: none;
    transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
    color: #000000;
    border-right: 5px solid #000000;
}

.sidebar .menu .menu-item:hover {
    border-right: 5px solid #000000;
}

@media (max-width: 1024px) {
    .sidebar {
        max-width: 200px;
    }
}

.content {
    margin-top: 100px;
    margin-left: 120px;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }
    .content {
        padding-top: 8rem;
    }
    .sidebar {
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
        background-color: rgb(214, 214, 214);
    }

    .sidebar.is-active {
        left: 0;
        background-color: rgb(255, 255, 255);
    }
    .left-bottom {
        margin-left: 20px;
    }
    .content {
        margin-top: 10px;
        margin-left: 10px;
    }
}

.firstbox {
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.button-one {
    margin-bottom: 33px;
    background-color: aqua;
}

.account {
    margin-bottom: 21px;
}

.right {
    justify-content: flex-end;
    padding-right: 20px;
}

.boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    box-sizing: border-box;
    gap: 25px;
}

@media only screen and (max-width: 1234px) {
    .firstbox {
        width: 100%;
    }
    .boxes {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}
